.search{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;    
}