html, body {
  background-color: rgb(217, 217, 217);
}

.navbar{
  background-color: rgb(229, 67, 1);
}

.containerProducts{
  background-color: rgb(217, 217, 217);
  padding: 50px 90px;
}

ul {
  list-style: none;
}